@import url('variables.css');
@import url('reset.css');

*::-webkit-scrollbar {
  background-color: var(--color-light);
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
  border-radius: 100000px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-dark);
  border-radius: 100000px;
}

.sr-only {
  position: absolute;
  left: -300vw;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
