---
import TimedEvent from './TimedEvent.astro';
import type { TimedEventEntry } from '../types/types';

interface Props {
  events: TimedEventEntry[];
}

const { events } = Astro.props;
---

<div class="events">
  {events.map(event => (
    <TimedEvent event={event} />
  ))}
</div>

<style>
  .events {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    max-height: var(--block-content-height);
  }
</style>