:root {
  --color-dark: #171717;
  --color-dark--lighter: color-mix(in srgb, var(--color-dark), white 5%);
  --color-dark--darker: color-mix(in srgb, var(--color-dark), black 25%);

  --color-light: #efefef;
  --color-light--lighter: color-mix(in srgb, var(--color-light), white 90%);
  --color-light--darker: color-mix(in srgb, var(--color-light), black 25%);

  --color-primary: #aa0000;
  --color-primary--lighter: color-mix(in srgb, var(--color-primary), white 20%);
  --color-primary--darker: color-mix(in srgb, var(--color-primary), black 20%);

  --scrollbar-width: 0.5rem;
}
